{% extends 'base_layout.html' %}

{% block title %}
    Buyer Marketplace
{% endblock %}

{% block content %}
    <br>
    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <td>Produce</td>
                <td>Quantity(quintals)</td>
                <td>Price(rupees)</td>
                <td>Buy</td>
            </tr>
        </thead>
        <tbody>
            {% for produce in produces %}
                <tr>
                    <td>{{produce.produce_name}}</td>
                    <td>{{produce.quantity}}</td>
                    <td>{{produce.price}}</td>
                    <td>
                        <form method="post">
                            <input type="hidden" name="produce_id" value="{{produce.id}}">
                            <input type="hidden" name="seller_id" value="{{produce.seller_id}}">
                            <button type="submit" class="btn btn-primary">Request Buy</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}