{% extends 'base_layout.html' %}

{% block title %}
    Seller Marketplace
{% endblock %}

{% block content %}
    <form method="post" style="padding: 2%">
        <input type="hidden" name="price_predictor">
        <h1>Crop Price Predictor</h1>
        <hr>
        <input type="text" name="crop_name" id="crop_name" placeholder="Crop Name" class="form-control">
        <br>
        <input type="number" name="quantity" id="quantity" placeholder="Quantity(quintals)" class="form-control">
        <br>
        <input type="text" name="state" id="state" placeholder="State(Indian State)" class="form-control">
        <br>
        <input type="text" name="weather" id="weather" placeholder="Weather" class="form-control">
        <br>
        <button type="submit" class="btn btn-success">Get Price Prediction(rupees)</button>

        {% if response %}
            <br>
            <br>
            <div class="text-bg-success" style="border-radius: 5px; width: 80%; padding: 0.5%;">
                <h3>Estimated Price</h3>
                <p><i class="fa-solid fa-indian-rupee-sign"></i> {{response}}</p>
            </div>
        {% endif %}
    </form>

    <hr>

    <div class="add-produce" style="padding: 2%;">
        <h1>Add Crop For Sale</h1>
        <form method="post">
            <input type="hidden" name="add_produce">
            <input type="text" name="produce_name" id="produce_name" class="form-control" placeholder="Crop Name">
            <br>
            <input type="number" name="quantity" id="quantity" class="form-control" placeholder="Quantity (in quintals)">
            <br>
            <input type="number" name="price" id="price" class="form-control" placeholder="Price(rupees)">
            <br>
            <button type="submit" class="btn btn-success">Add Produce For Sale</button>
        </form>
    </div>

    <div class="interest-buyers">
        <h1>Interested Buyers</h1>
        <table class="table table-dark table-striped table-hover">
            <thead>
                <tr>
                    <td>Produce Name</td>
                    <td>Buyer Name</td>
                    <td>Approve</td>
                </tr>
            </thead>
            <tbody>
                {% for i in interested_buyers %}
                    <tr>
                        <td>{{i.produce_name}}</td>
                        <td>{{i.buyer_name}}</td>
                        <td>
                            <form method="post">
                                <input type="hidden" name="buy_produce_id" value="{{i.id}}">
                                <button type="submit" class="btn btn-primary">Approve</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}